In [1]:
mi_varentero = 10
print(mi_varentero)

10

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
type(8.5)

float

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(mi_varentero)

int

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
mi_nombre = "Felipe "

4) Crear una variable que contenga tu nombre

In [6]:
mi_varcomp = 1+1j

5) Crear una variable que contenga un número complejo

In [7]:
type(mi_varcomp)

complex

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
variable_pi = 3.1416

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
var_True_string = "True"
var_True_bool = True

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
type(variable_pi)

float

In [14]:
type(var_True_string)

str

In [15]:
type(var_True_bool)

bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [20]:
var_sumaint_dec = 10 + 11.5
print(var_sumaint_dec)

21.5

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
a = 10 + 10j
b = 5 + 7j
print(a+b)

(15+17j)

11) Realizar una operación de suma de números complejos

In [26]:
c = 20
print(c+a)

(30+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [27]:
print(4*2)

8

13) Realizar una operación de multiplicación

In [28]:
print(2**8)

256

14) Mostrar el resultado de elevar 2 a la octava potencia

In [29]:
var_cociente = 27/4
print(var_cociente)

6.75

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
print(27//4)

6

16) De la división anterior solamente mostrar la parte entera

In [33]:
print(27%4)

3

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
print(6 * 4 + 3)

27

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
mi_apellido = "Acevedo"
print(mi_nombre+mi_apellido)

Felipe Acevedo

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
"2" == 2

False

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

Porque el primero es un string y el segundo un número entero.

In [40]:
print(int("2")==2)

True

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [43]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Porque la "," no se utiliza para números decimales (floats) se utiliza "."

In [50]:
var_1 = -3
var_1 -= 1
print(var_1)

-4

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [51]:
1 << 2

4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [54]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

Si fueran dos numeros enteros se sumarían dando como resultado "4" pero si fueran dos string es posible concatenarlos.

In [60]:
var_2 = "tuve que leer esto " 
var_3 = 15
print(var_2 + str(var_3) + " veces para entenderlo")

tuve que leer esto 15 veces para entenderlo

26) Realizar una operación válida entre valores de tipo entero y string